body { margin: 0; padding: 0; background: #000;}
canvas { display: block; margin: 0 auto; background: url(../img/background.png) no-repeat; }

#gamecontainer {
margin:auto;
width:800px;
height:600px;
background-size: cover;
border: 1px solid black;
}
.gamelayer {
width:800px;
height:600px;
position:absolute;
display:none;
}
/* Game Starting Menu Screen */
#gamestartscreen {
background: url(../img/back.png) no-repeat;
background-size:100% 100%;
text-align:center;
}

#levelselectscreen {
/**background: url(../img/background.png) no-repeat;**/
text-align:center;
}

#gamehtp {
text-align:center;
}

#gamehs {
text-align:center;
}

#gameabout {
background: url(../img/bgabout.png) no-repeat;
text-align:center;
}


.padtop{
margin-top:450px;
}

.padtop2{
margin-top:350px;
}

.padtop3{
margin-top:20px;
}

/** Game find and match **/

#gfind{
	margin:auto;
	height:600px;
	width:800px;
	float:left;
}

#gfind #info{
	margin:auto;
	height:100px;
	width:800px;
	float:left;
}

#gfind #gambar{
	margin:10px;
	border:thick 1px;
	height:300px;
	width:780px;
	float:left;
}

#gfind #downbar{
	margin:auto;
	height:150px;
	width:800px;
	float:left;
}

#gfind #downbar #box1{
	margin:auto;
	height:150px;
	width:150px;
	float:left;
}

#gfind #downbar #box2{
	margin:auto;
	height:150px;
	width:650px;
	float:left;
}